.App {
  margin: 0 auto;
  width: 600px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 200;
}
.weather {
  padding: 10px 10px 10px 10px;
  border: 1.5px solid #dadde1;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #fffbfa;
  margin: 10 auto;
}
.weather li {
  list-style: none;
  font-size: 16px;

  margin-left: 5px;
}
.weather h1 {
  font-size: 36px;
  margin: 20px 0 0 0;
  margin-left: 5px;
}
.temperature {
  font-weight: bold;
  line-height: 64px;
  font-size: 64px;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather-body {
  text-align: center;
}
.header {
  margin-bottom: 30px;
}
.weather img {
  height: 94px;
  display: inline-block;
}
.unit {
  position: relative;
  top: -32px;
  text-transform: none;
}
.unit a {
  text-decoration: none;
}
footer {
  margin-top: 10px;
  text-align: center;
}
footer a {
  text-decoration: none;
}
.btn-primary {
  color: bisque;
}
.forecast {
  margin-top: 5px;
  text-align: center;
}
.forecast-temp-max {
  margin-right: 5px;
}
.forecast-temp-min {
  opacity: 0.8;
}
